<!-- Template for form to add a work interval for the user -->

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'index/style.css' %}">

<div class="title">
    <h1>Add New Work Interval</h1>
</div>

<div class="info">
    <strong>Below is the list of intervals for this user. Each interval starts at some time and ends at some time,.</strong>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
</div>

<form method="post" action="{% url 'collector:add' %}">
{% csrf_token %}
    <input type="datetime-local" name="start_time">
    <input type="datetime-local" name="end_time">
    <input type="submit" value="Add">
</form>