.edit-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.info {
    font-family: Arial, Helvetica, sans-serif;
    padding: 16px;
    text-align: center;
}

.listitem {
    font-family: Arial, Helvetica, sans-serif;
    padding: 16px;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    padding: 16px;
    text-align: center;
}

.logout {
    font-family: Arial, Helvetica, sans-serif;
    position:fixed;
    right:10px;
    top:5px;
}
